@import "tailwindcss";


:root {

  --BodySmall: 12px;
  --BodyMedium: 15px;
  --BodyLarge: 16px;
  --Heading1: 56px;
  --Heading2: 24px;
  --Heading3: 36px;

  --Gray50: #FAFAFA;
  --Gray200: #BFBFBF;
  --Gray700: #616161;
  --Gray800: #181818;
  --Black: #0E0E0E;
  --Black2: #060606;

}


.Heading1 {
  font-size: var(--Heading1);
  line-height: 60px;
}

.Heading2 {
  font-size: var(--Heading2);
  letter-spacing: -0.25px;
  line-height: 28px;
}

.BodyLarge {
  font-size: var(--BodyLarge);
  line-height: 24px;
  letter-spacing: -0.2px;
}

.BodyMedium {
  font-size: var(--BodyMedium);
}

.BodySmall {
  font-size: var(--BodySmall);
}

.Gray50 {
  color: var(--Gray50);
}

.Gray200 {
  color: var(--Gray200);
}

.Gray700 {
  color: var(--Gray700);
}

.Gray800 {
  color: var(--Gray800);
}

.Black {
  color: var(--Black);
}

.Black2 {
  color: var(--Black2);
}

.Gray50-bg {
  background-color: var(--Gray50);
}

.Gray200-bg {
  background-color: var(--Gray200);
}

.Gray700-bg {
  background-color: var(--Gray700);
}

.Gray800-bg {
  background-color: var(--Gray800);
}

.Black-bg {
  background-color: var(--Black);
}

.Black-bg-2 {
  background-color: var(--Black);
}

@font-face {
  font-family: DMSans-Bold;
  src: url("../src//assets/font-family/DMSans-SemiBold.ttf");
}

@font-face {
  font-family: DMSans-Medium;
  src: url("../src//assets/font-family/DMSans-Medium.ttf");
}

@font-face {
  font-family: DMSans-Regular;
  src: url("../src//assets/font-family/DMSans-Regular.ttf");
}


@layer base {
  body {
    font-family: DMSans-Medium;
    font-weight: 500;
    outline: none;
  }
}

.font-dm-Medium {
  font-family: DMSans-Medium;
  font-weight: 500;
}

.font-dm-Regular {
  font-family: DMSans-Regular;
  font-weight: 400;
}

.font-dm-semibold {
  font-family: 'DMSans-Bold';
  font-weight: 600;
}

.gradient-border-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  max-width: 184px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  line-height: 24px;
  background: #232323;
  color: white;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.gradient-border-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 6px;
  background: linear-gradient(180deg, #737373 0%, #0E0E0E 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.gradient-border-btn > div:first-child {
  transform: translateX(120%); /* initial position */
  opacity: 0; /* initial opacity */
  transition: none !important; /* prevent snap/jank */
}

.gradient-border-btn:focus > div:first-child,
.gradient-border-btn:active > div:first-child,
.gradient-border-btn[data-active="true"] > div:first-child {
  animation: rainbowSweep 1s linear forwards;
}

@keyframes rainbowSweep {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  50% {
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}


@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: -200% 50%;
  }
}

.animate-gradient-flow {
  animation: gradient-flow 1.8s linear forwards;
}


.what-wedo-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  border-radius: 4px;
  color: #FAFAFA;
  z-index: 1;
  height: 28px;
  background-color: #181818;
  letter-spacing: -0.2px;
  line-height: 16px;
}

.what-wedo-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(180deg, #737373 0%, #0E0E0E 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 0;
  pointer-events: none;
}


.card-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  z-index: 1;
  min-height: 112px;
}

.card-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(180deg, #737373 0%, #0E0E0E 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 0;
  pointer-events: none;
  opacity: 0.6;
}

.logo-mn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 0px 0px 77px 77px;
  background: linear-gradient(180deg, #737373 0%, #0E0E0E 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1.2s linear infinite;
}

.animation-delay-300 {
  animation-delay: -0.3s;
}

.transition-underline {
  position: relative;
}

.transition-underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #BFBFBF;
  transition: width 0.3s ease;
}

.transition-underline:hover::after {
  width: 100%;
}


.gradient-border-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0E0E0E;
  color: white;
  cursor: pointer;
  z-index: 1;
  transition: all .3s ease-in-out;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient-flow {
  animation: gradient-flow 0.8s linear forwards;
  background-size: 250% 100%;
}


.gradient-border-nav::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(180deg, #7373732b 0%, #0E0E0E 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}


.mobileNav {
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(2px);
}

@media screen and (min-width:601px) and (max-width:1023px) {

  .Heading1 {
    font-size: var(--Heading3);
    line-height: 44px;
  }


  .DragW {
    width: 263px !important;
  }

  .hide-tab {
    display: none !important;
  }

  .show-tab {
    display: block !important;
  }

  .cusm-heads {
    font-size: 36px !important;
    line-height: 44px !important;
  }

  .custmP {
    max-width: 274px !important;
  }

  .tabView {
    grid-template-columns: repeat(3, 1fr) !important;
    margin-top: 36px;
  }

  .foot {
    justify-content: space-between !important;
  }

  .heroSec {

    padding-top: 80px !important;
    padding-bottom: 40px !important;
  }

  .navHead,
  .foot,
  .WhatWeDo,
  .heroSec {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .footerMn {
    padding-bottom: 70px;
  }

  .what-wedo-btn {
    background-color: #232323 !important;
  }

}

@media screen and (min-width:1024px) {
  .show-tab {
    display: none !important;
  }

}

@media screen and (max-width:600px) {
  .what-wedo-btn {
    background-color: #232323 !important;
  }

  .hideMb {
    display: none !important;
  }

  div .card-btn {
    min-height: 116px;
  }

  .footerMn {
    padding-bottom: 70px;
  }

  .Heading1 {
    font-size: var(--Heading3);
    line-height: 44px;
  }

}

@media screen and (min-width:1024px) and (max-width:1280px) {

  .deskMn {
    width: 400px;
  }

  .deskMn {
    width: 100%;
    max-width: 380px;
  }

}



@media (min-width: 1024px) and (max-width: 1439px) {
  .CustmWidth {
    max-width: 100% !important;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1440px) {
  .CustmWidth {
    max-width: 1583px !important;
    margin: 0 auto;
    padding-left: 102px !important;
    padding-right: 102px !important;
  }

  .CustmWidth.heroSec {
    padding-top: 75px;
    padding-bottom: 80px;
  }

  .CustmWidth.WhatWeDo {
    padding-bottom: 70px;
  }
}

.deskMn {
  top: -40px;
}